@page "/"
@inject IHttpContextAccessor contextAccesor
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<br />

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @foreach (var item in context.User.ToUser().UserRoles)
            {
                <p>Role Name: @item.Role.Name</p>
            }
        </Authorized>
        <NotAuthorized>
            <GoogleLogin />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>