@page "/privacy"

<h1>Privacy Terms</h1>

<h2>Information Collection</h2>
<p>This website uses Google Authentication for user login. When you sign in, Google shares certain profile information with us, such as your name and email address.</p>

<h2>Cookies</h2>
<p>We use cookies to maintain your session when you are logged in. These cookies are essential for the authentication process and are stored on your device until you log out or they expire.</p>

<h2>Use of Information</h2>
<p>The information we collect is used solely for authentication purposes and to provide access to personalized content or services on this website. We do not share this information with third parties except as necessary to complete the authentication process with Google.</p>

<h2>Information Security</h2>
<p>We take reasonable measures to protect your personal information from unauthorized access or disclosure. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure.</p>

<h2>Changes to Privacy Terms</h2>
<p>We may update our Privacy Terms from time to time. We will notify you of any changes by posting the new Privacy Terms on this page.</p>

<h2>Contact Information</h2>
<p>If you have any questions about these Privacy Terms, please contact us at: [Insert Contact Information].</p>


@code {

}
