@page "/tos"

<h1>Terms of Use</h1>

<h2>Introduction</h2>
<p>Welcome to my personal website, which is managed by Oscar Marin. This site is intended for sharing blog articles on various topics of interest. By accessing or using this website, you agree to be bound by these Terms of Use.</p>

<h2>Use of the Website</h2>
<p>This website is for personal, non-commercial use. You may not use this site or any content from this site for any commercial purposes without explicit written permission from the site owner.</p>

<h2>Content</h2>
<p>All blog articles, posts, and other content on this website are the property of Oscar Marin unless otherwise stated. You are permitted to read, share links to articles, and quote small excerpts with proper attribution. However, copying, distributing, or modifying any content without permission is prohibited.</p>

<h2>User Conduct</h2>
<p>
    By using this website, you agree not to:
    <ul>
        <li>Use the site in any way that could damage, disable, overburden, or impair the site or interfere with any other party's use of the site.</li>
        <li>Attempt to gain unauthorized access to any portion or feature of the site, or any other systems or networks connected to the site.</li>
        <li>Use any robot, spider, or other automatic device, process, or means to access the site for any purpose, including monitoring or copying any of the material on the site.</li>
    </ul>
</p>

<h2>Disclaimer of Warranties</h2>
<p>This website is provided "as is" without any warranties of any kind, either expressed or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>

<h2>Limitation of Liability</h2>
<p>Oscar Marin will not be liable for any damages of any kind arising from the use of this website, including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.</p>

<h2>Changes to Terms</h2>
<p>I reserve the right to modify these Terms of Use at any time. Your continued use of this website following any changes indicates your acceptance of the new Terms of Use.</p>

<h2>Contact Information</h2>
<p>If you have any questions about these Terms of Use, please contact <a href="https://www.linkedin.com/in/marinoscar/" target="_blank">me.</a></p>


@code {

}
